/* ----- Variables ----- */
/* Désigne la balise racine, c'est-à-dire <html> */

/*Si la couleur ne va pas, ne pas toucher au hexa mais passer en hsl et modifier la luminosité */

:root {
    --text-dark: #03275a;
    --text-light: #f5f5f5;
    --text-link: #F37605;
    --text-link-highlight: #fda04e; 
    --bg-light: #f5f5f5;
    --bg-dark: #03275a;
    --bg-menu: #1a7dd7;
    --bg-highlight: #f2b809;
}


/* ----- Généralités ----- */
body {
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-family: "Lato", serif;
}

/* --- Liens --- */
a {
    color: var(--text-link);
    font-weight: 700;

    /* Transition de changement de la propriété color */
    transition: color .3s linear;
}

    /* Désigne un lien que l'on survole
    a:hover {
        color: var(--text-link-highlight);
    }
    */

    /* Désigne un élément lorsque l'on reste appuyé dessus (souris ou tactile) */
    a:active {
        color: var(--text-link-highlight);
    }

    /* ::before / ::after <- permet de rajouter du contenu esthétique à un élément sans toucher au html
    se trouve entre la content-box et le padding
    a::after {
        content: "↗️";
    }*/

    a[target="_blank"]::after {
        content: "↗️";
    }

/* --- Titre --- */
/* Tous les <h1> à <h4> ou nimporte quelle balise avec la classe "h1" à "h4" */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    font-family: "Merriweather", serif;
    font-weight: 700;
}

h1, .h1 {
    font-size: 48px;
    margin-bottom: 25px;
}

h2, .h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3, .h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4, .h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

/* ----- Composants et outils ----- */

/* --- Contenuers de centrage --- */
.container {   
    padding-right: 15px;
    padding-left: 15px;
}


/* ----- Styles des pages ----- */

/* --- <header> --- */


/* --- <main> --- */
.intro-content > * {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* --- <footer> --- */
footer {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.footer-top > * {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.footer-bottom {
    background-color: var(--bg-light);
    color: var(--text-dark);    
    padding: 15px 0; /* 15px en haut et en bas 0px à gauche et à droite */
}

    /* N'importe quelle balise qui est un enfant direct de footer-bottom */
    .footer-bottom > * {
        padding-top: 15px;
        padding-bottom: 15px;
    }


/* ----- Responsive ----- */

/* --- Tablettes et plus grand (à partir de 768px de large) --- */ 
@media (min-width: 768px) { 

    /* --- <footer> --- */
    .footer-top {
        display: flex;
    }
        .footer-top > * {
            flex-basis: 50%;
        }
    }

/* --- Seulement tablettes (entre 768px et 991px de large) --- */
@media (min-width: 768px) and (max-width: 991px) {

    /* TODO: le code */

}

/* Desktop (écran de 1024px de résolution horizontale) et plus grand (à partir de 992px de large) */
@media (min-width: 992px){
    
    /* ----- Composants et outils ----- */
    /* --- Contenuers de centrage --- */
    .container {
        margin-right: auto;
        margin-left: auto;
        width: 960px;
    }

    /* ----- Styles des pages ----- */
    /* ---  <main> --- */
    .intro-content {
        display: flex;
        gap: 30px; /* Gouttière entre les 2 colonnes, va préserver un espace entre les éléments. A mettre sur le parent flex */
    }

    .welcome {
        flex-grow: 1;
    }

    .latest-products {
        flex: 0 0 300px /*combo entre les 3 (dans l'ordre): grow shrink basis */
    }
}
